footer {
    background-color: var(--primary);
    min-height: 30vh;
    padding: 50px;
    color: var(--white);
}
.logo {
    min-width: 200px;
    max-width: 250px;
    width: auto;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav a {
    color: #e0e0e0bd;
    text-decoration: none;
    transition: color 0.2s ease;
}
.nav a:hover {
    color: #e0e0e0;
}